@import '../core/Variables';

.fill-in {
  &_items {
    border-bottom: solid 1px $color-lighter-gray;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  &_label {
    font-size: 14px;
    color: $color-dark-green-blue;
  }

  &_input {
    &::placeholder {
      color: $color-very-light-gray;
    }

    border: solid 1px $color-hospital-green;
    min-width: 281px;
    height: 30px;
    font-size: 14px;
    color: $color-dark-green-blue;
    margin-top: 6px;
    margin-bottom: 20px;
    padding-left: 5px;
  }
}
